// app global css in Stylus form

// Gerektiğinde butn hoverlarını kapatmak için
// body.desktop .q-focusable:focus .q-focus-helper,
// body.desktop .q-hoverable:hover .q-focus-helper 
//     background inherit
//     opacity 0

// body.ios .q-hoverable:active .q-focus-helper 
//     background inherit
//     opacity 0

// .q-focus-helper 
//     opacity 0
//     transition unset

/**
*
* Değişken renkler
*
**/

// BreadCrumbs
$bread-bg  = linear-gradient(to right, $blue-grey-2 0%, $blue-grey-3 100%)
$bread-bg-hv   = linear-gradient(to right, $blue-grey-3 0%, $blue-grey-4 100%);
$bread-cl = #ffffff
$bread-cl-hv = $blue-grey-9
$bread-brdr = $blue-grey-2
$bread-brdr-aftr = $blue-grey-3



/**
*
* // Değişken renkler //
*
**/



// * Toolbar

.q-header
    background-color #ffffff
    color $blue-grey-10


// * Page Container

@media (min-width: 1024px)
    .page-container
        padding-left 100px


/* ** Sidenav */
.sidenav
  position fixed
  top 90px
  left 0
  width 105px
  height 530px
  border-radius 0 3px 3px 0
  padding 10px 0
  background-color #ffffff
  box-shadow 1px 1px 4px rgba(0,0,0,.4)
  transition all .1s ease
  z-index: 99

  .list-unstyled
    list-style none
    margin-top 0

    li
      position relative
      display list-item
      transform translateX(-40%)
      text-align left
      width 105px

      &.active a
        color $primary

        &:before
          content ''
          position absolute
          left 2px
          width 6px
          height 85%
          border-radius 3px
          background-color $primary

      &:hover a
        color $primary

      a
        height 105px
        text-decoration none
        display flex
        flex-direction column
        justify-content center
        align-items center
        font-family Nunito, sans-serif
        font-size 13px
        font-style normal
        font-weight 400
        border-bottom 1px solid rgba(0,0,0,.13)
        color #3a3a3a

        i
          font-size 32px
          line-height 42px
          
  .sidenav-bottom
    position absolute
    bottom 0
    width: 100%
    display flex
    justify-content center

.options-container
    background-color red
    top 0
    right 0
    bottom 0 
    left 0
    .options
        background-color orange
        position absolute
        top 0
        bottom 0
        left 0
        width 105px
        transition all .4s ease
        z-index -1
        &.open
            background-color orange
            width 200px
            left 105px
            z-index -1

       


// * Page-Items

.page-items
    position relative
    margin-top 15px
    width 100%
    height 35px
    display flex
    align-items center

// * search (in toolbar)

.toolbar-search
    width 150px
    transition width .5s ease
    &:focus-within
        width 250px


// * BreadCrumbs

.breadcrumbs-active
    position relative
    background-image $bread-bg
    padding 5px 5px
    margin-right 25px
    color $bread-cl
    &:hover
        background-color $bread-bg-hv
        color $bread-cl-hv
    &:before
        content ''
        position absolute
        z-index 3
        top 50%
        margin-top -1.1em
        border-width 1.1em 0 1.1em 1.1em
        border-style solid 
        border-color $bread-brdr $bread-brdr $bread-brdr  transparent
        left -1.1em
    &:hover:before
        border-color $bread-bg-hv $bread-bg-hv $bread-bg-hv transparent
    &:after
        content ''
        position absolute
        z-index 3
        top 50%
        margin-top -1.1em
        border-top 1.1em solid transparent
        border-bottom 1.1em solid transparent
        border-left 1.1em solid $bread-brdr-aftr
        right -1.1em
    &:hover:after
        border-left-color $bread-bg-hv
// .breadcrumbs-exact-active
//     background-color $orange-7



// * Tooltip 

.tooltip-info
    background-color $indigo-5
    color #ffffff

